<header>
  <div class='logo'>Наш логотип</div>
</header>
<p>
  <a href="/">Войти</a>
</p>
<p>
  <a href="/user/signup">Зарегистрироваться</a>
</p>
<p>
  <a href="/courier/signup">Если ты курьер, то нажми сюда</a>
</p>
