<header>
  <div class='logo'>Наш логотип</div>
</header>
<p>
  <a href="/" id="userLoginButton">Войти</a>
<form action="/user" method="post" style="display: none"  id="userLoginForm">
  <input type="text" name="email" placeholder="e-mail">
  <input type="password" name="password" placeholder="password">
  <button type="submit">Submit</button>
</form>
</p>
<p>
  <a href="/user/signup">Зарегистрироваться</a>
</p>
<p>
  <a href="/courier/signup">Если ты курьер, то нажми сюда</a>
  <a href="/courier/signup/login" id="courierLoginButton">Войти (курьер)</a>
<a href="/courier/signup/regisrtation">Регистрация курьера</a>
<form action="/courier" method="post" style="display: none" id="courierLoginForm">
  <input type="text" name="email" placeholder="e-mail">
  <input type="password" name="password" placeholder="password">
  <button type="submit">Submit</button>
</form>
</p>
<script src="/scripts/userLoginShow.js"></script>
