<header>
  <div class='logo'>Наш логотип</div>
</header>

{{#if user}}
<a href="/offer">{{user.userName}}</a>
<a href="/logout">logout</a>
{{else if courier}}
<a href="/offer">{{courier.userName}}</a>
<a href="/logout">logout</a>
{{else}}

<p>
  <a href="/" id="userLoginButton">Войти</a>
<form action="/user" method="post" style="display: none" id="userLoginForm">
  <input type="text" name="email" placeholder="e-mail">
  <input type="password" name="password" placeholder="password">
  <button type="submit">Submit</button>
</form>
</p>
<p>
  <a href="/user/signup">Зарегистрироваться</a>
</p>
<p>
  <a href="/courier/signup" id="showLoginButton">Если ты курьер, то нажми сюда</a>
  <a href="/courier/signup/login" id="courierLoginButton" style="display: none">Войти (курьер)</a>
<a href="/courier/signup" style="display: none" id="courierSigninButton">Регистрация курьера</a>
<form action="/courier" method="post" style="display: none" id="courierLoginForm">
  <input type="text" name="email" placeholder="e-mail">
  <input type="password" name="password" placeholder="password">
  <button type="submit">Submit</button>
</form>
</p>

<form action="/geocode" method="post">
<button type="submit">Get</button>
</form>

<script src="/scripts/userLoginShow.js"></script>

{{/if}}
