<header>
  <div class='logo'>Наш логотип</div>
  <img src="./img/kisspng-delivery.jpg" alt="logo" width="100" height="150">
</header>

{{#if user}}
<a href="/user/profile">{{user.userName}}</a>
<a href="/logout">logout</a>
{{else if courier}}
<a href="/offer">{{courier.userName}}</a>
<a href="/logout">logout</a>
{{else}}



<p>
  <a href="/" id="userLoginButton" class="badge badge-secondary buttonHome">Войти</a>
<form action="/user" method="post" style="display: none" id="userLoginForm">
  <input type="text" name="email" placeholder="e-mail">
  <input type="password" name="password" placeholder="password">
  <button type="submit">Submit</button>
</form>
</p>

  <a href="/user/signup" class="badge badge-secondary buttonHome">Зарегистрироваться</a>
</p>



<div class="dropdown">
  <button class="btn badge badge-warning dropdown-toggle buttonHome" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Если ты курьер, то нажми сюда
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/courier/signup/login" id="courierLoginButton">Войти</a>
    <a class="dropdown-item" href="/courier/signup" id="courierSigninButton">Регистрация курьера</a>
  </div>
<p>



<p>
  {{!-- <a href="/courier/signup" id="showLoginButton">Если ты курьер, то нажми сюда</a> --}}

</div>
  <a href="/courier/signup/login" id="courierLoginButton" style="display: none">Войти (курьер)</a>
  <a href="/courier/signup" style="display: none" id="courierSigninButton">Регистрация курьера</a>
<form action="/courier" method="post" style="display: none" id="courierLoginForm">
  <input type="text" name="email" placeholder="e-mail">
  <input type="password" name="password" placeholder="password">
  <button type="submit">Submit</button>
</form>
</p>

<form action="/geocode" method="post">
  <button type="submit" class="btn btn btn-dark">Get</button>
</form>

<script src="/scripts/userLoginShow.js"></script>

{{/if}}








