  <h2>Sign up</h1><br />

<form action="/user/signup" method="post">
  <input type="text" name="userName" placeholder="name"/>
  <input type="phone" name="userPhone" placeholder="phone"/>
  <input type="mail" name="userEmail" placeholder="email"/>
  <input type="password" name="userPassword" placeholder="password"/>
  <input type="text" name="userLocation" placeholder="adress"/>

  <button type="submit" value="Sign Up" title="Submit form"><span>Sign up</span></button>
</form>
