<h2>Offers:</h2>

<div id="logoHolder">
  <img src="{{}}" alt="logoRestoran">
</div>

<main role="main">
  <ul class="offers">
    {{#each offers}}
    <li class="entry" id = "{{_id}}">
      <img src="{{}}" alt="logoRestoran">
      <ul class="contents">
      {{#each contents}}
      <li>{{this}}</li>
      {{/each}}
      </ul>
    </li>
    <div>{{price}}</div>
    <a href="./offers/{{_id}}"></a>
    {{/each}}
  </ul>
</main>
