<h1>Регистрация</h1>
<form id='signupCourier' method='post' action='/signup'>
<input type='text' name='courierName' placeholder='Введите имя'>
<input type='text' name='courierphone' placeholder='Введите номер телефона'>
<input type='text' name='courieremail' placeholder='Введите электронную почту'>
<input type='password' name='courierpassword' placeholder='Введите пароль'>
</form>