<h1>Разместить заказ</h1>

<form id='newOffer' method='post' action='/newOffer'>
  <select>
    <option>Macdonalds</option>
    <option>KFS</option>
    <option>BurgerKing</option>
  </select>
  <div id="offerInputsContainer" display="inline-block">
  <input type='text' name='newOffer1' placeholder='Введите название товара'>
  </div>
  <button id="goodInput">Add</button>
  <br>
  <input type='text' name='price' placeholder='Введите стоимость заказа'>
  <br>
  <button type='submit'>Разместить заказ</button>

</form>
<script src="/scripts/newOffer.js"></script>
