<h1>Разместить заказ</h1>

<form id='newOffer' method='post' action='/signup'>
<select>
  <option>Macdonalds</option>
  <option>KFS</option>
  <option>BurgerKing</option>
</select>
<input type='text' name='newOffer' placeholder='Введите название товара'>
<input type='text' name='newOffer' placeholder='Введите название товара'>
<button>Дрбавить позицию в заказ</button>
<input type='text' name='price' placeholder='Введите стоимость заказа'>
<button type='submit' name='buttonOffer'>Разместить заказ</button>
</form>
