<h1>Разместить заказ</h1>
<form id='newOffer' method='post' action='/newOffer'>
  <select>
    <option>Macdonalds</option>
    <option>KFS</option>
    <option>BurgerKing</option>
  </select>
  <input type='text' name='newOffer1' placeholder='Введите название товара'>
  <input type='text' name='newOffer2' placeholder='Введите название товара'>
  <button id="goodInput">Add</button>
  <input type='text' name='price' placeholder='Введите стоимость заказа'>
  <button type='submit'>Разместить заказ</button>
</form>
